<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <!-- 引入样式 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/element-plus/1.0.2-beta.65/theme-chalk/index.css" rel="stylesheet">
    <%= htmlWebpackPlugin.options.buildTime %>
</head>

<body>
    <section id="app"></section>
    <!-- <script src="https://finsuit.bicai365.com/fhc/vue/3.0.11/vue.global.prod.js"></script> -->
    <script src="https://lib.baomitu.com/vue/3.2.2/vue.global.prod.min.js"></script>
    <script src="https://finsuit.bicai365.com/fhc/vue-router/4.0.8/vue-router.global.prod.js"></script>
    <script src="https://finsuit.bicai365.com/fhc/vuex/4.0.0/vuex.global.prod.js"></script>
    <script src="https://finsuit.bicai365.com/fhc/axios/0.18.1/axios.min.js"></script>
    <!-- 引入组件库 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/element-plus/1.0.2-beta.65/index.full.min.js"></script>
</body>

</html>